#card-bot {
    background-image: linear-gradient(to right, #84FFFE , #53C5FF);
}

.text-card {
    font-size: 18px;
    color: #ffff;
    text-shadow: 1px 1px #001EFF;
}

.text-data {
    font-size: 26px;
}

.text-mail {
    font-size: 20px;
}
