<ion-header>
  <ion-toolbar>
    <app-encabezado [PageTitle]="tituloPagina" ></app-encabezado>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="card-bot">
    <img [src]="usuario.avatar" />
    <ion-card-header>
      <ion-card-subtitle class="text-mail">{{ usuario.email }}</ion-card-subtitle>
      <ion-card-title class="text-data">{{ usuario.last_name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-card">
      Este usuario tiene la id: {{usuario.id}} y correo {{usuario.emal}}. Su nombre es {{usuario.first_name}} y su apellido {{usuario.last_name}}
    </ion-card-content>
  </ion-card>
</ion-content>
